.Navbar {
  height: 80px;
  /* background: orange; */
  display: flex;
  align-items: center;
  max-width: 1600px;
  margin: 0 auto;
  /* background: red; */
  /* border-bottom: 2px solid #000; */
}
.NavbarContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
.NavbarLeft {
  cursor: pointer;
  width: 25%;
  /* color: black; */
}
.NavbarCenter {
  display: flex;
  justify-content: center;
  width: 50%;
  /* color: #fff; */
}
.NavbarRight {
  display: flex;
  justify-content: flex-end;
  width: 25%;
}
.NavbarMenuBtn {
  cursor: pointer;
}
.NavLink {
  text-decoration: none;
  display: flex;
  /* padding: 0 10px; */
  cursor: pointer;
  color: #fff;
}
.NavLinkName {
  /* color: #fff; */
  padding: 0 8px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid transparent;
}
/* .activeClassName {
  font-weight: bold;
  color: aliceblue;
  font-size: 20px;
} */

@media (max-width: 768px) {
  .NavbarCenter {
    display: none;
  }
  .NavbarRight {
    display: none;
  }
  .NavbarLeft {
    width: 50%;
  }
}

@media (min-width: 769px) {
  .NavbarMenuBtn {
    display: none;
  }
}
